body {
    height: 100%;
    margin: 0;
    background-color: #FFF;
    background-position: 50% 50%;
}
 
html {
    height: 100%;
    margin: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 100;
  text-align: center;
}

p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.centerTable {
  margin: 0px auto; 
  position: relative;  
}

header {
  padding: 1em;
  color: #FFFFFF;
  background-color: #000000;
  clear: left;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.footer {      
 text-align: center;    
 width: 100%;
 color: #FFFFFF;
 background-color: #FFFFFF;
 font-family: 'Raleway', sans-serif;
 font-size: 24px;
 clear: both;
 position: relative;
 z-index: 10;
 height: 4em;
 margin-top: -4em;
}

.footerText{      
 text-align: right;
 color: #000000;    
 font-size: 15px;
}

/* Hero Image - Adeel Siddiqui */

.hero {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/55/Toronto_Skyline_Panorama.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
}


/* Slide in Overlay - Adeel Siddiqui */

.container {
 position: relative;
 width: 100%;
}

.image {
 display: block;
 width: 600px;
 height: 800px;
 height: auto;
}

.overlay {
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: #000000;
 font-family: 'Open Sans Condensed', sans-serif;
 overflow: hidden;
 width: 100%;
 height: 0;
 transition: .5s ease;
}

.container:hover .overlay {
 height: 100%;
}

.text { 
 color: white;
 font-size: 20px;
 position: absolute;
 overflow: hidden;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}


/* vv Side Nav Menu - Adeel Siddiqui vv */
 .sidenav {
  font-family: 'Open Sans Condensed', sans-serif;
     height: 100%; 
     width: 0; 
     position: fixed; 
     z-index: 1; 
     top: 0;
     left: 0;
     background-color: #111; 
     overflow-x: hidden; 
     padding-top: 60px; 
     transition: 0.6s ease;
 }
 
 
 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s
 }
 
 
 .sidenav a:hover, .offcanvas a:focus{
     color: #f1f1f1;
 }
 
 
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }
 
 
 #main {
     transition: margin-left .5s;
     padding: 20px;
 }
 
 
 @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
 }
 
 .textNav {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 20px;
   letter-spacing: 0.06em;
 }

 
 /* ^^ Side Nav Menu - Adeel Siddiqui ^^ */
 
/* Social Media Buttons - Adeel Siddiqui */

.fa {
  padding: 20px;
  font-size: 48px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-snapchat-ghost {
 color: #000000;
}

.fa-instagram {
 color: #000000;
}

.fa-twitter {
 color: #000000;
}

.fa-facebook {
 color: #000000;
}

.fa-linkedin {
 color: #000000;
}

